html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
  }
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar3 10s alternate ease-in-out infinite;
  } 
  #stars2 {
    width: 2px;
    height: 2px;
    border-radius: 100px;
    background: transparent;
    animation: animStar2 10s alternate ease-in-out infinite;
  }
  #stars3 {
    width: 3px;
    height: 3px;
    border-radius: 100px;
    background: transparent;
    animation: animStar1 10s alternate ease-in-out infinite;
  }
  @keyframes animStar3 {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-200px);
    }
    
  }
  @keyframes animStar2 {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-400px);
    }
    
  }
  @keyframes animStar1 {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-800px);
    }
    
  }