html, body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(197, 193, 218);
  background-color:rgb(117, 19, 19);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  top: 0px;
  width: 100%;
  text-align: center;
  padding: 0 auto;
}
header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background: #111;
  z-index: 100;
  font-size: 40px;
}
.myFooter {
  z-index: 100;
  background: black;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
}
#choiceBox {
  background-color: #391010;
  color: #9b8989;
  box-shadow: -16px -10px 20px 0px black;
  width: 75%;
  height: 370px;
  text-align: center;
  margin: auto;
  box-shadow: -20px -15px 20px 0px black;
  color: #bc3636;
  border-radius: 20px;
  position: relative;
  top: -200px;
}
@media (hover: hover) {
  #choiceBox:hover {
    background: yellow;
  }
}
